/* --------------------Tabs----------------- */
.checkbox {
  width: 50px;
  height: 20px;
  position: relative;
  -webkit-appearance: none;
  -webkit-appearance: none;
  background: #a7a7a7;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  transition: background 150ms linear;
}

.checkbox::before {
  position: absolute;
  content: "";
  width: 22px;
  height: 18px;
  top: 50%;
  left: 1px;
  transform: translateY(-50%);
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: left 300ms linear;
}

.checkbox:checked {
  background: #70dc95;
}

.checkbox:checked::before {
  left: 27px;
  background-color: #fff;
}

.tabs {
  width: 55%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  display: none;
}

.tab {
  background: #ccc;
  width: 32%;
  height: 30px;
  margin: 0.1rem 0.2rem;
  padding: 0.2rem 0.4rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.2);
  background-image: linear-gradient( to right,rgba(255, 255, 255, 0.2),rgba(0, 0, 0, 0.3));
  color: #3fcee1;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
  animation-name: fade;
  animation-duration: 0.7s;
}

.tab > img {
  width: 27px;
  height: 100%;
  margin: auto 0;
  pointer-events: none;
}

#main {
  text-align: center;
  justify-content: center;
}

.tab:active,.splitTab:active{
  opacity: 0.7;
}

.tab:hover,.splitTab:hover {
  border-bottom: 1px solid #3fcee1;
  background: linear-gradient(to right,rgba(255, 255, 255, 0.333),rgba(0, 200, 200, 0.3));
}
#split {
  width: fit-content;
  display: flex;
  justify-content: center;
  height: fit-content;
  background: none;
  z-index: 3;
}

#split:hover {
  border: none;
  color: #62e7f8;
}

.mr0 {
  margin-right: 0 !important;
}

.splitMenu {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  cursor: pointer;
}

.splitMenu:hover{
  box-shadow: none;
}

.contianer {
  position: absolute;
  width: fit-content;
  top: 37.5px;
  display: none;
  z-index: 3;
  background: linear-gradient(to right, #76A2B4,#2594A6);
  border-radius: 4px;
}

.splititems {
  border-radius: 4px;
}
.splititems > div:nth-child(1) {
  border-radius: 5px 5px 0 0;
}
.splititems > div:nth-child(5) {
  border-radius: 0 0 5px 5px;
  border: none;
}
.splititem {
  width: 120px;
  height: 32px;
  font-size: 12px;
  padding: 3px;
  display: flex;
  align-items: center;
  background: linear-gradient(to right,rgba(255, 255, 255, 0.3),rgba(0, 200, 200, 0.3));
  background: linear-gradient(to right,rgba(94, 94, 94, 0.333),rgba(0, 120, 200, 0.3));
  color: #77e3f1;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
  z-index: 5;
}
.splititem:hover{
  color: rgba(255, 255, 255, 0.902);
  background: linear-gradient(to right,rgba(255, 255, 255, 0.35),rgba(0, 199, 199, 0.562));
}
.splititem>img {
  height: 90%;
  margin: 0 10px;
}
.gradient{
  height: 2px;
  width: 100%;
  background: #31bbce;
  border-radius: 1rem;
}
.triangle {
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  width: 0px;
  height: 0px;
  border-bottom: 12px solid #4396A3;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}
.splitTabs{
  width: 100%;
  height: 30px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right,  #2FA7B6, #2F2873);
  background: linear-gradient(to right, rgba(0, 0, 0, 0) ,rgba(0, 200, 200, 0.5));
}
.splitTab{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .5rem  .5rem 0 0;
  cursor: pointer;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.2);
  background-image: linear-gradient( to right,rgba(255, 255, 255, 0.1),rgba(0, 0, 0, 0.2));
  color: #3fcee1;
  margin: 0 1px;
  padding: 3px;
}
.splitTab:hover{
  border-bottom: 1.5px solid #3fcee1;
}

.splitTab>img{
  height: 100%;
}
.splitTab>span{
  margin-left: 10px;
}

.active-tab {
  border-bottom: 1.5px solid #3fcee1;
  background: linear-gradient(to right,rgba(255, 255, 255, 0.333),rgba(0, 200, 200, 0.3));
}





/* -------------------Media-query----------------- */

@media only screen and (max-width: 1050px) {
  nav {
    padding-right: 0;
  }
  nav .item {
    margin-right: 8px;
  }
}
@media only screen and (max-width: 1032px) {
  nav {
    padding-right: 0;
  }
}

@media only screen and (max-width: 930px) {
  nav .item {
    margin-right: 1rem;
  }
  .selectB {
    display: none;
  }
}
@media only screen and (max-width: 900px) {
  nav .item {
    margin-right: 1rem;
  }
}
@media only screen and (max-width: 750px) {
  nav {
   justify-content: flex-end;
   padding-left: 1rem;
   padding-right: .4rem;
  }
  .selectA {
    display: none;
  }
  #split{
    display: none;
  }
  .checkbox:checked::before {
    left: 20px;
    background-color: #fff;
  }
  .splitTab>span{
    display: none;
  }
  
  /* -------------------------------------------------------  */

}
@media only screen and (max-width: 650px) {
  nav .item {
    margin-right: 6px;
  }
  .tab{
    width: 50px;
    padding: 0;
    justify-content: center;
    margin: 0 6px;
  }
  .tab img{
    margin: 0;
    padding: 2px;
    height: 90%;
  }
  .tabs{
    width: fit-content;
  }
  .checkbox{
    display: none;
  }
#editor{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column !important;
}
#CodeBlock,#cssEditor,#jsEditor,#splitContainer{
  width: 100%  !important;
  height: calc(50% - 15px) !important;
  overflow: hidden;
}
#splitContainer{
  height: calc(50% + 15px) !important;
}
#splitEditor{
 height: 100% !important;
}

}



